* {
    margin: 0;
    padding: 0;
}
/* body and html set to 0 */
body, html {
    margin: 0;
    padding: 0;
}
/* display flex for header to align both sections */
#header-section {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    border: 2px solid blue;
}
/* Complex logo located in header section */
.logo {
    margin-top: 0.5rem;
    position: relative;
    border: 2px solid blue;
    flex-basis: 3vw;
}
.logo p {
    position: absolute;
    font-size: 0.9em;
    bottom: 0.5rem;
    left: 5.8rem;
    
  
  
}
.logo a h1, p {
    font-weight: 900;
    color: #000000;
   
}
.logo a {
    text-decoration: none;
}
/* navigation section which contains shop bag, search bar and navigation */

.nav-search-shop  img {
    width: 5vw;
    height: auto;
}
.navigation {
    display: none;
}
#mobile-nav:checked~nav {
    display: block;
}
#icons {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: flex-end;
    margin-right: 1em;

    border: 2px solid blue;
}

