* {
    margin: 0;
    padding: 0;
}
/* body and html set to 0 */
body, html {
    margin: 0;
    padding: 0;
}
/* display flex for header to align both sections */
#header-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid blue;
}
/* logo class contains h1 logo, h2 display pages,  located in header section */
.logo {
    margin-top: 0.5rem;
    position: relative;
    border: 2px solid blue;
   
}
.logo > div {
    display: none;   
}
.logo h1 {
    font-size: 2rem;
    font-family: fantasy;
}
.logo p {
    position: relative;
    font-size: 1.3em;
    bottom: 2.3rem;
    left: 7rem;
    font-weight: 900;
}
.logo a h1, p {
    font-weight: 100;
    color: #000000;
   
}
.logo a {
    text-decoration: none;
}
/* nav-search-shop section contains navigation and all other icons located at the top */

.nav-search-shop  img {
    width: 1.5rem;
    height: 1.5rem;
}
/* navigation */
.navigation {
    display: none;
}
/* chechbox */
#mobile-nav:checked~nav{
    display: block;
}
/* div inside nav-search-shop containing all icons */
#icons {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: flex-end;
    margin-right: 1em;
    margin-top: 1.2rem;
    border: 2px solid blue;
}
#mobile-nav {
    display: none;
}
.mobile-navigation {
    position: absolute;
    top: 4rem;
}
/* p element inside icon */
.icons-p {
    display: none;
}
/* disocver and shop buttons div */
.discover-shop {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
/* discover button and shop button*/
.discover-shop {
    display: flex;
    flex-direction: row;
    width: 100%;
   /* Adds spacing between buttons */
  }
  /* Allows items to grow */
  .discover-shop a {
   flex-grow: 1; 
  }
 /* Buttons fill their containers */
  .discover-button, .shop-button {
    width: 100%; 
  }
  .discover, .shop, .complexicon {
    font-size: 0.1rem;
    opacity: 0;
    pointer-events: auto; 
    
  }





@media (min-width: 1024px) {
    /* logo section restyled for above 1024px */
    .logo {
        margin-top: 0.5rem;
        position: relative;
        border: 2px solid blue;
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    .logo > div {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-left: 2rem;
        margin-top: 1rem;
    }
    #icons {
        margin-right: 3rem;
        margin-top: 1rem;
        width: 30vw;
        gap: 2rem;
    }
    /* search bar icon */
    #search {
        margin-right: 3.5rem;
    }
    .icons-p {
        display: block;
       position: absolute;
       right: 18.5rem;
    }
    /* label for checkbox */
    .nav {
        display: none;
    }
      /* nav section that when hovered display relevant nav pages */
    #display-pages h2{
        font-size: 1rem;
    }
    /* discover and shop button to be removed from 1024px */
    .discover-shop {
        display: none;
    }
    /* h1 hovered , show navigation horizontally */
     .h2-discover:hover~nav {
      display: block;
    }

}
