* {
    margin: 0;
    padding: 0;
}
body, html {
    margin: 0;
    padding: 0;
}
.logo {
    margin-top: 1rem;
}
.logo p {
    position: relative;
    left: 16vw;
    bottom: 4.5vh;
}
.logo a h1, p {
    font-weight: 900;
    color: #000000;
   
}
.logo a {
    text-decoration: none;
}
